.inputWrap input {
  border: none;
  width: 65%;
  height: 100%;
  outline: none;
}
.inputField__placeholder__reg {
  color: red;
}
.login .inputWrap{
  text-align: center;
}
.login .inputWrap input {
  width: 80%;
}
.registration .inputWrap{
  text-align: left;
}
.registration .inputWrap span {
  font-size: 12px;
}
.inputWrap {
  border: 1px solid #ececec;
  box-shadow: 0 0 3px  rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  height: 60px;
}
