.logo_container {
  padding: 35px;
}
.logo {
  padding-top: 30px;
}
.logo::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: #563f7b;
  margin-top: 30px;
}
.logo_container {
  text-align: center;
}
.logo_container p {
  display: inline;
  font-weight: bold;
  font-size: 50px;
}
.logo_container__ihr {
  text-transform: uppercase;
}
.logo_container__logo {
  color: #563f7b;
}
